@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Varela+Round&display=swap');

body{
    background-color: rgb(230, 228, 227);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: wheat;
}

nav ul li{
    padding: 0 12px;
}


.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img{
    width: 45px;
    padding: 0 8px;
}

.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 30px;
    background-image: url('./assets/bg.jpg');
    background-size:cover;
}


.bottom{
    position: sticky;
    height: 85px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

/* .songItemPlay{
    float: right;
    margin: 10px;
    position: relative;
} */

.songItem img{
    width: 35px;
    margin: 0 23px;
    border-radius: 50%;
}

.songItemContainer{
    margin-top: 54px;
}

.timeStamp{
    margin: 0 23px;
}

.timeStamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round',sans-serif;
}

.songInfo img{
   opacity: 0;
   transition: opacity 0.4s ease-in;
}


@media screen and (max-width:360px){
    .songInfo{
        left: 0vw;
    }
    
    .songInfo img{
        display: none;
    }
}